body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size:14px; 
    color: #6c7279;
    background-color: #fff;
    
    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
margin: 0 0 10px;
}


/*   Container   */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


/*    HEADER     */

.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    border-bottom: 1px solid #50536a;
}


/*    NAV     */

.nav {
   
   display: flex;
   font-size: 13px; 
   font-weight: 700;
   text-transform: uppercase;
   
}


.nav__link {
    margin-left: 50px;
    text-decoration: none;
    color: #fff;
    opacity: .75;
    transition: opacity .1s linear;
    
}

.nav__link:hover {
    opacity: 1;
}

.nav__link:first-child {
    margin-left: 0;
} 


/*    INTRO     */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    height: 750px;  
    background: #31344e url(image/intro-bg.jpg) center no-repeat;
    background-size: cover;
}

.intro__inner {
    
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    
    text-align: center;
}

.intro__title {
    margin: 0 0 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    font-weight: 700;
    line-height: 1.1;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    
}

.intro__subtitle {
    
    color: #fff;
    font-size: 22px;
    line-height: 1.5;
    font-weight: 400;
    
    margin-bottom: 60px;
}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    
    text-align: center;
    
    font-family: 'Raleway', sans-serif;
    border: 0;
    cursor: pointer;
    
    transition: background .1s linear;
    
}

.btn--red {
    
    background-color: #e54545;
}

.btn--red:hover {
    background-color: #e53333;
}


/*    FEATURES     */

.features {
    display: flex;
    flex-wrap: wrap;
    
    margin: 95px 0;
}

.features__item {
    width: 33.3333%;
    padding: 0 40px;
    margin: 25px 0;
    text-align: center;

}

.features__icon {
    margin-bottom: 25px;
    
}

.features__title {
    font-size: 14px;
    font-weight: 700; 
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #2d3033;
    
}

.features__text {
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
    
}


/*    WORKS     */

.works {
    
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    width: 25%;
    position: relative;
    overflow: hidden;
    height: 350px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

.works__item:hover .works__content {
    opacity: 1;
}

.works__image {
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    
    transform: translate3d(-50%, -50%, 0);
}

.works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(232, 69, 69, .9);
    opacity: 0;
    transition: opacity .2s linear;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.works__title {
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.works__text {
    font-size: 14px;
    color: #fff;
}


/*    TEAM     */

.team {
    margin: 100px 0 70px;
}

.team__inner {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}

.team__item {
    padding: 0 15px;
    width: 25%;
    margin-bottom: 30px;
    
}

.team__photo {
   
    margin-bottom: 20px;
    display: block;
    max-width: 100%;
    height: auto;
}

.team__name {
    font-size: 22px;
    color: #000;
    margin-bottom: 8px;
}

.team__prof {
    margin-bottom: 15px;
    font-size: 13px;
    color: #e84545;
    text-transform: uppercase;
}

.team__text {
    font-size: 14px;
    margin-bottom: 20px;
    color: #6c7279;
    line-height: 1.5;
}


/*    SOCIAL     */

.social {
  display: flex;  
}

.social--white {
    justify-content: center;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    width: 40px;
    height: 40px;
    border: 1px solid #e8ecee;
    background-color: #fff;
    transition: background .1s linear;
    
}

.social__item:hover {
    background-color: #e8ecee;
}

.social__item:hover .social__icon {
    fill: #000;
}

.social--white .social__item {
    background: none;
    border: 2px solid #fff;
    border-radius: 2px;
    
}

.social--white .social__item:hover {
    background-color: #fff;
}

.social--white .social__icon {
    fill: #fff;
}

.social__icon {
    display: block;
    height: 18px;
    fill: #c6cacc;
    transition: fill .1s linear;
}


/*    REVIEWS     */

.reviews {
    background-color: #53354a;
}
.reviews__items {
    display: flex;
    flex-wrap: wrap;
}

.reviews__photo {
    width: 50%;
    height: 500px;
    position: relative;
    
}

.reviews__img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    
    transform: translateY(-50%);
}

.reviews__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 80px;
    
}

.reviews__text {
    font-family: 'Cardo', sans-serif;
    font-style: italic;
    font-size: 36px;
    color: #fff;
    line-height: 1.2;
    margin-bottom: 25px;
}

.reviews__author {
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}


/*    DOWNLOAD     */

.download {
    margin: 90px 0;
    text-align: center;
}

.download__title {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    color: #000;
   
}

.download__text {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    color: #000;
    text-transform: uppercase;
}

.btn--long {
    min-width: 280px;
}
    

/*    FOOTER     */

.footer {
    background-color: #3B3F63;
    padding: 75px 0;
    
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
       
}

.footer__block {
    padding: 0 15px;
    width: 33.333%;
    text-align: center
}

.footer__title {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.footer__text {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: rgba(255, 255, 255, .5);
    
}


/*    COPYRIGHT     */

.copyright {
    padding: 20px 0;
    background-color: #323453;
    text-align: center;
}

.copyright__text {
    color: #808080;
    font-size: 14px;
    line-height: 1.5;
}

.copyright__author {
    font-weight: 400;
    color: #fff;
}

/*     BURGER     */

.burger {
    display: none;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 9px 2px;
    
    
}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    font-size: 0;
    color: transparent;
    
    
    position: relative;
}

.burger__item:before,
.burger__item:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 1;
}

.burger__item:before {
    top: -8px;
}

.burger__item:after {
    top: 8px;
}





/*     MEDIA     */

@media (max-width: 1300px) {
    
    /*    Works   */
    
    .works__item {
        width: 50%;
    }
}



@media (max-width: 1000px) {
    
    /*     Intro     */
    
    .intro__title {
        font-size: 40px;
    }
    
    /*    Nav    */
    
    .nav {
        display: none;
    }
    
    /*    Burger    */
    
    .burger {
        display: block;
    }
    
    /*    Features   */
    
    .features__item {
        width: 50%;
    }
    
    /*    Team   */
    
    .team__item {
        width: 50%;
        text-align: center;
    }
    
    .team__photo {
        margin-left: auto;
        margin-right: auto;
    }
    
    .social {
        justify-content: center;
    }
    
    /*    Reviews   */
    
    .reviews__photo {
        width: 100%;
        margin: 15px 0 40px;
        overflow: hidden;
    }
    
    .reviews__content {
        width: 100%;
        padding-left: 0;
        padding-bottom: 40px;
    }
}


@media (max-width: 767px) {
    .intro {
        height: auto;
        padding-top: 130px;
        padding-bottom: 30px;
    }
    .intro__title {
        font-size: 30px;
    }
    .intro__subtitle {
    font-size: 16px;
        margin-bottom: 30px;
    }
    
    /*    Features   */
    
    .features {
        margin: 40px 0;
    }
    
    .features__item {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    
    /*    Works   */
    
    .works__item {
        width: 100%;
        height: 300px;
    }
    
    /*    Team   */
    
    .team {
        margin: 60px 0 30px;
    }
    
    .team__item {
        width: 100%;
    }
    
    /*    Reviews   */
    
    .reviews__text {
        font-size: 25px;
    }
    
    /*    Download   */
    
    .download {
        margin: 60px 0;
    }
    
    .download__title {
        font-size: 24px;
    }
    
    .btn--long {
        min-width: 260px;
    }
    
    /*    Footer   */
    
    .footer {
        padding: 50px 0;
    }
    
    .footer__block {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 30px;
    }
    
    .footer__block:last-child {
        padding-bottom: 0;
    }
}

@media (max-width: 414px) {
    
    /*    Reviews   */
    
    .reviews__img {
        right: -120px;
    }
}











